 

.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
    background-color: --five;
    margin-top: 20px;
}

.imgProducts {
    width: 20%;
}

.productImage {
    width: 20%;
    height: 40%;
}