.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    margin: 6vh;
}

.profileCard {
    align-self: center;
}

#incorrectsDates {
    height: 110%
}