
:root {
    --one: #2F6690;
    --two: #3A7CA5;
    --three: #ffffff;
    --four: #16425B;
    --five: #81C3D7;
}

.headerContainer {
    background-color: #16425B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    height: 70px;
    color: #ffffff;
    a{
        all: unset;
        cursor: pointer;
    }
}

.navBar {
    font-family: barlow;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.links {
    color: #ffffff;
    font-family: barlow;
    font-size: 18px;
}

#icon {
    width: 70px;
}

#logOut {
    cursor: pointer;
}