@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;900&family=Goudy+Bookletter+1911&family=Space+Mono&display=swap");

body {
  
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Goudy Bookletter 1911", serif;
  font-family: "Space Mono", monospace;

}
